<div class="content">
  <div class="row">
    <div class="col-md-offset-2 col-sm-offset-2 col-md-8 col-sm-8 col-xs-12">
      <h3 class="profile-header">個人資料</h3>

      <form
        *ngIf="user !== undefined"
        (ngSubmit)="form.valid && onSubmit(form)"
        #form="ngForm"
      >
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div
            class="form-group"
            [ngClass]="{ invalid: form.submitted && name.invalid }"
          >
            <label>{{ 'name' | translate }}</label>
            <input
              type="text"
              [(ngModel)]="user.name"
              name="name"
              #name="ngModel"
              required
            />
            <div
              *ngIf="form.submitted && name.invalid"
              class="invalid_feedback"
            >
              Name is required
            </div>
          </div>
          <div
            class="form-group"
            [ngClass]="{ invalid: form.submitted && phone.invalid }"
          >
            <label>手機號碼</label>
            <input
              type="number"
              [(ngModel)]="user.phone"
              name="phone"
              #phone="ngModel"
              required
            />
            <div
              *ngIf="form.submitted && phone.invalid"
              class="invalid_feedback"
            >
              Phone number is required
            </div>
          </div>
          <div class="form-group">
            <p><label>性別</label></p>
            <input
              type="radio"
              name="text"
              value="男"
              [(ngModel)]="user.sex"
              check="user.sex==男"
            />男
            <input
              type="radio"
              name="text"
              value="女"
              [(ngModel)]="user.sex"
              check="user.sex==女"
            />女
          </div>
          <div class="form-group">
            <label>地址</label>
            <input
              type="text"
              class="is-valid"
              [(ngModel)]="user.address"
              name="address"
              #address="ngModel"
            />
          </div>
          <div class="form-group">
            <label>生日</label>
            <input
              type="date"
              class="is-valid"
              [(ngModel)]="user.birth"
              name="birth"
              #birth="ngModel"
            />
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="s_order form-group">
            <label>個人介紹</label>
            <textarea
              name="description"
              [(ngModel)]="user.description"
            ></textarea>
          </div>
          <label>大頭照</label>
          <input
            type="file"
            (change)="readURL($event)"
            accept="image/gif, image/jpeg, image/png"
            enctype="multipart/form-data"
          />
          <img
            *ngIf="photo !== undefined"
            [src]="photo"
            style="width:50%; height: 50%; overflow:scroll;"
          />
        </div>

        <div class="col-md-12">
          <div class="submit_btn form-group">
            <!-- TODO:驗證表單再重新導向 -->
            <input type="submit" value="修正" />
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
<h3 class="profile-header">已追蹤的專案</h3>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="promo_inner">
        <div class="row">

          <div *ngFor="let project of user?.followingProjects" class="col-md-4 col-sm-4 col-xs-12">
            <div class="p_box">
              <div class="images_box">
                <img src="assets/images/promo_img2.jpg" alt="" [routerLink]="['/commodity']"
                  routerLinkActive="router-link-active">
              </div>
              <div class="p_name">{{ project.name }}</div>
              <div class="p_founder">{{ project.fundraiser }}</div>
              <div class="p_dsp">{{ project.brief }}</div>
              <svg width="350">
                <line x1="0" y1="0" x2="350" y2="0" fill="none" stroke-width="3" stroke="#cccccc" />
                <line x1="0" y1="0" x2="350" y2="0" fill="none" stroke-width="3" stroke-linecap="round"
                  stroke="#16982B" [style.stroke-dasharray]="dasharray" [style.stroke-dashoffset]="progress(project)" />
                <text id="count" x="0" y="20" text-anchor="left" dy="7" font-size="14">
                  {{ project.curr_amount | currency:'':'symbol':'1.0-0' }}</text>
                  <text *ngIf="leftDay(project)!=-1" id="time" x="350" y="20" text-anchor="end" dy="7" font-size="14"
                  [translate]="'homepage.leftDay'" [translateParams]="{ value: leftDay(project) }"></text>
                <text *ngIf="leftDay(project)==-1" id="time" x="350" y="20" text-anchor="end" dy="7" font-size="14"
                  [translate]="'homepage.未開始'">
                </text>
              </svg>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="profile-header">已提案的專案</h3>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="promo_inner">
        <div class="row">

          <div *ngFor="let project of user?.raisingProjects" class="col-md-4 col-sm-4 col-xs-12">
            <div class="p_box">
              <div class="images_box">
                <img src="assets/images/promo_img2.jpg" alt="" [routerLink]="['/commodity']"
                  routerLinkActive="router-link-active">
              </div>
              <div class="p_name">{{ project.name }}</div>
              <div class="p_founder">{{ project.fundraiser }}</div>
              <div class="p_dsp">{{ project.brief }}</div>
              <img style="cursor:pointer" src="assets/images/cog.png" alt="" [routerLink]="['/project',project.id,'edit']"
                  routerLinkActive="router-link-active">
              <svg width="350">
                <line x1="0" y1="0" x2="350" y2="0" fill="none" stroke-width="3" stroke="#cccccc" />
                <line x1="0" y1="0" x2="350" y2="0" fill="none" stroke-width="3" stroke-linecap="round"
                  stroke="#16982B" [style.stroke-dasharray]="dasharray" [style.stroke-dashoffset]="progress(project)" />
                <text id="count" x="0" y="20" text-anchor="left" dy="7" font-size="14">
                  {{ project.curr_amount | currency:'':'symbol':'1.0-0' }}</text>
                <text *ngIf="leftDay(project)!=-1" id="time" x="350" y="20" text-anchor="end" dy="7" font-size="14"
                  [translate]="'homepage.leftDay'" [translateParams]="{ value: leftDay(project) }"></text>
                <text *ngIf="leftDay(project)==-1" id="time" x="350" y="20" text-anchor="end" dy="7" font-size="14"
                  [translate]="'homepage.未開始'">
                </text>
              </svg>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
