<!-- <section class="breadcumb_top_area">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="bread_top_box">
					<h2>Checkout</h2>
				</div>
			</div>
		</div>
	</div>
</section> -->
<div class="breadcumb_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="bread_box">
          <ul class="breadcumb">
            <!-- <li><a href="index.html">首頁 <span>|</span></a></li> -->
            <li><a href="category-1.html">{{'購物車.商店' | translate}} <span>|</span></a></li>
            <li><a [routerLink]="['/cart']">{{'購物車.清單' | translate}} <span>|</span></a></li>
            <li class="active"><a href="">{{'購物車.結帳' | translate}} </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
	<section class="checkout_area">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="checkout_left">
						<!-- <h2>帳單地址</h2>
						<div class="dotted_line"></div>

						<div class="checkout_form">
							<div class="country_select">
								<p>國家</p>
								<select class="selectpicker sel_state">
								  <option>Taiwan</option>
								  <option>Bangladesh</option>
								  <option>USA</option>
								  <option>UK</option>
								  <option>Canda</option>
								  <option>Australia</option>
								</select>
							</div>
							<div class="c_name_box">
								<div class="c_name_box_left">
									<p>姓名 <span>*</span></p>
									<input type="text">
								</div>
							  <div class="c_name_box_right">
									<p>Last Name <span>*</span></p>
									<input type="text">
								</div>
							</div>
							<div class="company_name">
								<p>Company Name <span>*</span></p>
								<input type="text">
							</div>
							<div class="c_address">
								<p>地址 <span>*</span></p>
								<input type="text" placeholder="">
							</div>
							<div class="c_state_box">
								<div class="c_state_box_left">
									<p>國家 <span>*</span></p>
									<input type="text">
								</div>
								<div class="c_state_box_right">
									<p>Postcode/Zip <span>*</span></p>
									<input type="text">
                </div>
							</div>
							<div class="c_mail_box">
								<div class="c_mail_box_left">
									<p>信箱 <span>*</span></p>
									<input type="text">
								</div>
								<div class="c_mail_box_right">
									<p>手機 <span>*</span></p>
									<input type="text">
								</div>
							</div>
							<div class="checkbox">
								<label>
								  <input type="checkbox"> 創立帳號
								</label><br>
								<label>
								  <input type="checkbox"> 貨件送到不同地址
								</label>
							</div>
						</div> -->

						<h2>{{'購物車.貨件地址'|translate}}</h2>
						<div class="dotted_line"></div>
            <!-- <div>
              <label>
                <input type="checkbox"> 資料同上
              </label>
            </div> -->
						<div class="shipping_form">
							<div class="country_select country_select2">
								<p>{{'購物車.國家'|translate}}</p>
								<select class="selectpicker sel_state">
								  <option>Taiwan</option>
								  <option>Bangladesh</option>
								  <option>USA</option>
								  <option>UK</option>
								  <option>Canda</option>
								  <option>Australia</option>
								</select>
							</div>
							<div class="c_name_box">
								<div class="c_name_box_left">
									<p>{{'購物車.姓名'|translate}} <span>*</span></p>
									<input type="text">
								</div>
								<!-- <div class="c_name_box_right">
									<p>Last Name <span>*</span></p>
									<input type="text">
								</div> -->
							</div>
							<!-- <div class="company_name">
								<p>Company Name <span>*</span></p>
								<input type="text">
							</div> -->
							<div class="c_address">
								<p>{{'購物車.地址'|translate}} <span>*</span></p>
								<input type="text" placeholder="">
							</div>
							<!-- <div class="s_town">
								<p>Town/City <span>*</span></p>
								<input type="text" placeholder="Town/City">
							</div> -->
							<div class="s_order">
								<p>{{'購物車.備註'|translate}} <span>*</span></p>
								<textarea name="" cols="30" rows="10"></textarea>
							</div>

						</div>
					</div>
        </div>
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="checkout_right">
						<h4>{{'購物車.購物內容'|translate}}</h4>
						<div class="product_form_total">
							<div class="c_main_item">
								<p>{{'購物車.商品'|translate}}</p>
								<span>{{'購物車.金額'|translate}}</span>
              </div>

              <ng-container *ngFor="let item of projectlist">
                <div class="c_single_item">
                  <p>{{item.name}}</p>
                  <span>${{item.feedbackprice}}</span>
                </div>
                <!-- <div class="c_single_item">
                  <p>wool t-shirt x 1</p>
                  <span>$184.00</span>
                </div>
                <div class="c_single_item">
                  <p>jean coat x 3 </p>
                  <span>$205.00</span>
                </div>
                <div class="c_single_item sp_single_item">
                  <p>casual shirt x 2</p>
                  <span>$375.00</span>
                </div> -->
              </ng-container>
							<div class="c_single_item">
								<p>{{'購物車.小計'|translate}}</p>
								<span>${{totalmoney}}</span>
							</div>
							<div class="c_single_item sp_single_item">
								<p>{{'購物車.郵資'|translate}}</p>
								<span>{{'購物車.免費'|translate}}</span>
							</div>
							<div class="c_total_item sp_single_item">
								<p>{{'購物車.總金額'|translate}}</p>
								<span>${{totalmoney}}</span>
							</div>
							<div class="c_payment">
								<p>{{'購物車.付款方式'|translate}}</p>
								<select class="selectpicker sel_state">
								  <option>Direct Bank Transfer</option>
								  <option>Wire Transfer</option>
								  <option>VISA</option>
								</select>
							</div>
							<div class="checkbox">
								<label>
								  <input type="checkbox"> {{ '購物車.我已經詳細閱讀' | translate }} <span>{{ '購物車.合約條款' | translate }}</span>
								</label>
							</div>
							<input type="submit" value="{{ '購物車.下單' | translate }}" (click)="checkout()">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- JS Files -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script>
	  $(function() {
		$( "#slider-range" ).slider({
		  range: true,
		  min: 150,
		  max: 1500,
		  values: [ 520, 1100 ],
		  slide: function( event, ui ) {
			$( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
		  }
		});
		$( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
		  " - $" + $( "#slider-range" ).slider( "values", 1 ) );
	  });
	  </script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/jquery.elevatezoom.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
	<script src="js/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
	<script src="js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script src="js/rs-plugin/rs.home.js"></script>
  <script src="js/bootstrap.min.js"></script>
	<!--Opacity & Other IE fix for older browser-->
	<!--[if lte IE 8]>
		<script type="text/javascript" src="js/ie-opacity-polyfill.js"></script>
	<![endif]-->
  <script src="js/main.js"></script>
