<div class="p-box">
    <div>
      <img class="p-img" [src]="project?.img_path" alt="project img not found" [routerLink]="['/projects', project.id]"
        routerLinkActive="router-link-active">
    </div>
    <div class="p-text">
      <div class="p-name">{{ project?.name }}</div>
      <div class="p-founder">{{ project?.fundraiser }}</div>
      <div class="p-dsp">{{ project?.brief }}</div>
    </div>
    <svg viewBox="0 0 100 20">
      <line x1="0" y1="0" x2="100" y2="0" fill="none" stroke-width="1"
        stroke="#cccccc" preserveAspectRatio="xMidYMid none"/>
      <line x1="0" y1="0" x2="100" y2="0" fill="none" stroke-width="1" stroke-linecap="round"
        stroke="#16982B" preserveAspectRatio="xMidYMid none"
        [style.stroke-dasharray]="100" [style.stroke-dashoffset]="100-progress(project)"/>
      <text id="count" x="0" y="2" dy="5.5"
        text-anchor="left" font-size="4" preserveAspectRatio="xMidYMid none">
        {{ project?.curr_amount | currency:'':'symbol':'1.0-0' }}</text>
      <text *ngIf="leftDay(project)>0" id="time" x="100" y="1" dy="5.5"
        text-anchor="end" font-size="4" preserveAspectRatio="xMidYMid none"
        [translate]="'homepage.leftDay'" [translateParams]="{ value: leftDay(project) }"></text>
      <text *ngIf="leftDay(project)==-1" id="time" x="100" y="2" dy="5.5"
        text-anchor="end" font-size="4" preserveAspectRatio="xMidYMid none"
        [translate]="'homepage.未開始'"></text>
      <text *ngIf="leftDay(project)==-2" id="time" x="100" y="2" dy="5.5"
        text-anchor="end" font-size="4" preserveAspectRatio="xMidYMid none"
        [translate]="'homepage.已結束'"></text>
    </svg>
</div>
