<div style="height: 600px; padding-top: 10%">
  <div class="content">

    <div class="item">
      <p>忘記密碼了嗎?</p>
      <p>請輸入你註冊會員的電子信箱</p>
      <p>密碼重設信件將寄至您的電子信箱。
        請點選信件中網址重新設定密碼。</p>

    </div>

    <div class="item">
      <form  #form="ngForm">
          <input type="text" placeholder="E-mail" [(ngModel)]="user.email" name="userMail">
          <input class="button" (click)="retrievepassword()" type="submit" value="重設密碼" [routerLink]="['/']" routerLinkActive="active" />
      </form>
    </div>

  </div>

  <hr class="style-five" />

  <div class="content">
    <button class="footButton" [routerLink]="['/','login']" routerLinkActive="active">登入</button>
    <button class="footButton" [routerLink]="['/','register']" routerLinkActive="active">註冊</button>
  </div>
</div>
