.header_top{
  background-color: #3c3c3c
}

nav.currency {
  margin-top: -2px;
}

.currency ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  top: 18px;
  transition: .25s;
}

.currency ul li {
  position: relative;
}

.currency-dropdown {
  background: none repeat scroll 0 0 rgba(33, 33, 33, 0.8);
  left: -5px;
  margin-top: 39px;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 58px;
  transition: .25s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.currency ul li:hover ul.currency-dropdown {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  padding: 19px 0 3px;
  z-index: 10;
}

.currency-dropdown li {}

.currency-dropdown li a {
  display: block;
  font-size: 12px;
  padding: 3px;
}

.currency-dropdown li a:hover {
  display: block;
  font-size: 12px;
  padding: 3px;
}

.currency ul li a {
  color: #e8e8e8;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.currency ul li a:hover {
  color: #ff6766;
  text-decoration: none;
}

/* ============================================
14. IE CSS
===============================================*/
.ie8 .currency-dropdown {
  display: none;
  opacity: 1;
}

.ie8 .currency-dropdown:hover {
  display: block;
  opacity: 1;
}
