<div class="header_top">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="header_top_left">
          <img src="assets/images/car.png" alt="Header Car Icon" />
          <p>一起讓美好的事物發生<span></span></p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="header_top_right floatright">
          <p [hidden]="isLogin"><a [routerLink]="['/login']">{{ 'login' | translate }}</a> /
            <a [routerLink]="['/register']">{{ 'signup' | translate }}</a></p>
          <p [hidden]="!isLogin"><a [routerLink]="['/profile']">{{ '會員中心' | translate }}</a></p>

          <!-- TODO:多國語言切換 -->
          <nav class="currency alignleft">
            <ul>
              <li><a href="">NTD</a>
                <!--<ul class="currency-dropdown">
                  <li><a href="">EUR</a></li>
                  <li><a href="">GBP</a></li>
                  <li><a href="">CAD</a></li>
                  <li><a href="">AUD</a></li>
                </ul>-->
              </li>
            </ul>
          </nav>
          <div class="top-flag alignleft">
            <img src="assets/images/flag.png" alt="Flags" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="header_left floatleft">
          <a class="fa fa-search" href=""></a>
          <input type="text" placeholder="{{ 'search' | translate }}">
        </div>
      </div>
      <div class="col-md-6 col-sm-5 col-xs-12">
        <div class="header_center">
          <a [routerLink]="['/']"><img [src]="logo" alt="Site Logo"></a>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="header_right floatright">
          <ul class="checkout">
            <!-- TODO:翻譯 -->
            <li><a [routerLink]="['/checkout']" routerLinkActive="router-link-active">
                <i class="fa fa-heart-o"></i>{{ '願望清單' | translate }}</a></li>
            <li class="mobi_right_li"><a [routerLink]="['/checkout']" routerLinkActive="router-link-active">
                <i class="fa fa-shopping-cart"></i>{{'清單' | translate }}</a></li>
          </ul>
          <!-- TODO:取得清單數量 -->
          <div class="w_likes">
            <span>3</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
