.register-header {
  text-align: center;
  margin-bottom: 5%;
}

.invalid input,
.invalid textarea {
  border: 1px solid red;
}

.invalid input:focus,
.invalid textarea:focus {
  outline: none;
  border: 1px solid #ff0000;
  box-shadow: 0px 0px 4px #ff0000;
  -moz-box-shadow: 0px 0px 4px #ff0000;
  -webkit-box-shadow: 0px 0px 4px #ff0000;
}

.invalid_feedback {
  color: red;
}
