<section class="register_area">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="checkout_left">
          <h2>註冊</h2>
          <div class="dotted_line"></div>

          <div class="checkout_form">
            <form (ngSubmit)="form.form.valid && onSubmit(form)" #form="ngForm">
              <div class="c_name_box">
                <div class="c_name_box_left">
                  <p>姓名 <span>*</span></p>
                  <input type="text" [(ngModel)]="model.name" name="name" #name="ngModel" [ngClass]="{ 'is-invalid': form.submitted && name.invalid }"
                    required />
                  <div *ngIf="form.submitted && name.invalid" class="invalid_feedback">
                    Name is required
                  </div>
                </div>
              </div>
              <div class="c_mail_box">
                <div class="c_mail_box_left">
                  <p>信箱 <span>*</span></p>
                  <input type="text" [(ngModel)]="model.mail" name="mail" #mail="ngModel" [ngClass]="{ 'is-invalid': form.submitted && mail.invalid }"
                    required />
                  <div *ngIf="form.submitted && mail.invalid" class="invalid_feedback">
                    Email is required
                  </div>
                </div>
                <div class="c_mail_box_left">
                  <p>手機號碼 <span>*</span></p>
                  <input type="text" [(ngModel)]="model.phone" name="phone" #phone="ngModel" [ngClass]="{ 'is-invalid': form.submitted && phone.invalid }"
                    required />
                  <div *ngIf="form.submitted && phone.invalid" class="invalid_feedback">
                    Phone number is required
                  </div>
                </div>
              </div>
              <div class="c_password">
                <div class="c_password_left">
                  <p>密碼(至少六碼) <span>*</span></p>
                  <input type="password" [(ngModel)]="model.password" name="password" #password="ngModel" [ngClass]="{ 'is-valid': (!form.submitted || !password.invalid) ,'is-invalid': (form.submitted && password.invalid) }" 
                    required />
                  <div *ngIf="form.submitted && password.invalid" class="invalid_feedback">
                    Password is required
                  </div>
                </div>
                <div class="c_password_left">
                  <p>確認密碼 <span>*</span></p>
                  <input type="password" [(ngModel)]="model.password_confirm" name="password_confirm" #password_confirm="ngModel">
                  <div *ngIf=" password.value  !== password_confirm.value" class="invalid_feedback">
                    密碼不一致
                  </div>
                </div>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" [(ngModel)]="model.check" name="check" #check="ngModel" required />
                  我已詳閱並同意使用者條款
                  <div *ngIf="form.submitted && check.invalid" class="invalid_feedback">
                    Check is required
                  </div>
                </label>
              </div>
              <div class="password_commit">
                <input type="submit" value="註冊">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
