<div style="height: 600px; padding-top: 10%">
  <div class="content">

    <div class="item">
      <p class="h1">重設密碼</p>
      <p>請輸入你註冊會員的電子信箱和新密碼</p>
    </div>

    <div class="item">
      <form  #form="ngForm">
        <div>
          <div>
            <input type="text" placeholder=" E-mail" [(ngModel)]="user.email">
          </div>
          <div>
            <input type="password" placeholder=" 新密碼 " [(ngModel)]="user.password" name="newPassword">
          </div>
          <div>
            <input type="password" placeholder=" 再次輸入新密碼 " [(ngModel)]="newPasswordConfirm" name="newPasswordConfirm">
          </div>
          <div *ngIf="!passwordCheck">
              <p style="color: red">兩次輸入的新密碼不相同!!!!</p>
          </div>
          <div *ngIf="passwordEmpty">
            <p style="color: red">密碼欄位不能為空白</p>
        </div>
        </div>


        <input class="button" type="submit" value="重設密碼"  />
      </form>
    </div>

  </div>
</div>
