<section class="p_area">
  <div class="content">

    <div class="row">
      <div class="col-md-offset-2 col-sm-offset-2 col-md-8 col-sm-8 col-xs-12">
        <h2 class="t_center">{{ '計畫.修改提案' | translate }}</h2>

        <div class="p_form">
          <form (ngSubmit)="form.form.valid&&onSubmit(form)" #form="ngForm">
            <div class="form-group" [ngClass]="{'invalid': form.submitted}">
              <label for="fundraiser">{{ '計畫.提案人' | translate }} *</label>
              <input type="text" id="fundraiser" placeholder="{{ '請輸入姓名' | translate }}" name="fundraiser"
                maxlength="20" [(ngModel)]="project.fundraiser"  required>
            </div>
            <div class="form-group" [ngClass]="{'invalid': email.invalid&&(email.dirty||form.submitted)}">
              <label for="email">{{ '信箱' | translate }} *</label>
              <input type="email" id="email" placeholder="{{ '請輸入信箱' | translate }}" name="email"
                maxlength="60" [(ngModel)]="project.email" #email="ngModel" email required>
            </div>
            <div class="form-group">
              <div class="form-control-left" [ngClass]="{'invalid': started_at.invalid&&form.submitted}">
                <label for="start_date">{{ '計畫.開始' | translate }}</label>
                <input type="date" id="start_date" name="start_date" [(ngModel)]="project.started_at"
                  #started_at="ngModel" required>
              </div>
              <div class="form-control-right" [ngClass]="{'invalid': ended_at.invalid&&form.submitted}">
                <label for="end_date">{{ '計畫.結束' | translate }}</label>
                <input type="date" id="end_date" name="end_date" [(ngModel)]="project.ended_at" #ended_at="ngModel"
                  required>
              </div>
            </div>
            <div class="form-group">
              <label for="category_id"> {{ '分類' | translate }}</label>
              <select id="category_id" name="category_id" [(ngModel)]="project.category_id"  required>
                <option *ngFor="let c of category_id">
                  {{ c | translate }}
                </option>
              </select>
            </div>
            <div class="form-group" [ngClass]="{'invalid': name.invalid&&form.submitted}">
              <label for="name">{{ '計畫.名稱' | translate }} *</label>
              <input type="text" id="name" placeholder="{{ '請輸入名稱' | translate }}" name="name"
                [(ngModel)]="project.name" #name="ngModel" required>
            </div>
            <div class="form-group">
              <div class="form-control-left">
                <label for="price">{{ '計畫.目標' | translate }} *</label>
                <div class="input-group" [ngClass]="{'invalid': price.invalid&&(price.dirty||form.submitted)}">
                  <input type="text" id="price" placeholder="8787" name="price" [(ngModel)]="project.goal_amount"
                    maxlength="20" #price="ngModel" pattern="\d{1,20}" required>
                  <span class="input-group-addon">NTD</span>
                </div>
              </div>
            </div>
            <div class="form-group" [ngClass]="{'invalid': brief.invalid&&form.submitted}">
              <label for="brief">{{ '計畫.簡介' | translate }} *</label>
              <input type="text" id="brief" placeholder="{{ '請輸入簡介' | translate }}" name="brief"
                [(ngModel)]="project.brief" #brief="ngModel" required>
            </div>
            <div class="form-group" [ngClass]="{'invalid': img.invalid&&form.submitted}">
              <label for="cover">{{ '計畫.封面照片' | translate }} *</label>
              <input type="file" id="cover" name="file" [(ngModel)]="project.img" #img="ngModel"
                required>
            </div>
            <div class="s_order form-group" [ngClass]="{'invalid': dsp.invalid&&form.submitted}">
              <label for="br">{{ '計畫.說明' | translate }} *</label>
              <textarea id="description" cols="30" rows="10" placeholder="{{ '請輸入說明' | translate }}"
                name="description" [(ngModel)]="project.description" #dsp="ngModel" required></textarea>
            </div>
            <div class="line"></div>
            <div class="form-group" [ngClass]="{'invalid': web.invalid&&form.submitted}">
              <label for="r_web">{{ '計畫.相關網頁' | translate }}</label>
              <input type="text" id="r_web" placeholder="{{ '請輸入相關網頁' | translate }}" name="r_web"
                [(ngModel)]="project.relative_web" #web="ngModel" required>
            </div>

            <div class="submit_btn form-group">
              <input type="submit" value="{{ '計畫.修改' | translate }}">
              <a class="btn btn-link" [routerLink]="['/']">{{ '計畫.取消' | translate }}</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</section>

