input[type='date']::-webkit-clear-button {
  display: none;
}

input[type='date']::-webkit-inner-spin-button {
  display: none;
}

.uncheck {
  font-size: 12px;
  color: red;
}

.invalid {
  border: 1px solid red;
}

.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.p_area {
  background: none repeat scroll 0 0 #f7f8f9;
  border-top: 1px solid #eeeeee;
  padding-top: 40px;
  padding-bottom: 60px;
}

.t_center {
  text-align: center;
}

form label {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3f3f3f;
}

.form-group {
  overflow: hidden;
  padding-bottom: 15px;
}

.form-group input[type='text'],
.form-group input[type='email'],
.form-group input[type='file'],
.form-group select {
  background: none repeat scroll 0 0 #f7f8f9;
  border: 1px solid #e8e8e8;
  padding: 9px;
  width: 100%;
}

.form-group input[type='date'] {
  background: none repeat scroll 0 0 #f7f8f9;
  border: 1px solid #e8e8e8;
  padding: 3px;
  width: 100%;
}

.form-control {
  background: none repeat scroll 0 0 #f7f8f9;
  border: 1px solid #e8e8e8;
  padding: 9px;
  width: 100%;
}

.form-control {
  background: none repeat scroll 0 0 #f7f8f9;
  border: 1px solid #e8e8e8;
  padding: 9px;
  width: 100%;
}

.form-control:focus {
  border-color: #3c8dbc;
  box-shadow: none
}

.form-control-left {
  float: left;
  margin-right: 4%;
  width: 48%;
}

.form-control-right {
  float: left;
  width: 48%;
}

.p_form {
  margin-top: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  border: 1px solid #e8e8e8;
}
