<section class="p_area">
  <div class="content">

    <div class="row">
      <div class="col-md-offset-2 col-sm-offset-2 col-md-8 col-sm-8 col-xs-12">
        <h2 class="t_center">{{ '計畫.提案' | translate }}</h2>

        <div class="p_form">
          <form (ngSubmit)="form.form.valid&&onSubmit()" #form="ngForm">
            <div class="form-group" [ngClass]="{'invalid': fundraiser.invalid&&form.submitted}">
              <label for="fundraiser">{{ '計畫.提案人' | translate }}</label>
              <input type="text" id="fundraiser" name="fundraiser"
                maxlength="20" [(ngModel)]="project.fundraiser" #fundraiser="ngModel" required>
            </div>
            <div class="form-group" [ngClass]="{'invalid': email.invalid&&(email.dirty||form.submitted)}">
              <label for="email">{{ '信箱' | translate }}</label>
              <input type="email" id="email" name="email"
                maxlength="60" [(ngModel)]="project.email" #email="ngModel" email required>
            </div>
            <div class="form-group">
              <div class="form-control-left" [ngClass]="{'invalid': startAt.invalid&&form.submitted}">
                <label for="start_date">{{ '計畫.開始' | translate }}</label>
                <input type="date" id="start_date" name="start_date" min="{{ nowDate | date:'yyyy-MM-dd' }}"
                  [(ngModel)]="project.started_at" #startAt="ngModel" required>
              </div>
              <div class="form-control-right" [ngClass]="{'invalid': endAt.invalid&&form.submitted}">
                <label for="end_date">{{ '計畫.結束' | translate }}</label>
                <input type="date" id="end_date" name="end_date" min="{{ nowDate | date:'yyyy-MM-dd' }}"
                  [(ngModel)]="project.ended_at" #endAt="ngModel" required>
              </div>
            </div>
            <div class="form-group" [ngClass]="{'invalid': id.invalid&&form.submitted}">
              <label for="category"> {{ '分類' | translate }}</label>
              <select id="category" name="category" [(ngModel)]="project.category_id" required #id="ngModel">
                <option *ngFor="let category of categories" [value]="category.id">
                  {{ category.category | translate }}
                </option>
              </select>
            </div>
            <div class="form-group" [ngClass]="{'invalid': name.invalid&&form.submitted}">
              <label for="name">{{ '計畫.名稱' | translate }}</label>
              <input type="text" id="name" name="name"
                [(ngModel)]="project.name" #name="ngModel" required>
            </div>
            <div class="form-group">
              <div class="form-control-left">
                <label for="price">{{ '計畫.目標' | translate }}</label>
                <div class="input-group" [ngClass]="{'invalid': price.invalid&&(price.dirty||form.submitted)}">
                  <input type="text" id="price" placeholder="8787" name="price" [(ngModel)]="project.goal_amount"
                    maxlength="20" #price="ngModel" pattern="\d{1,20}" required>
                  <span class="input-group-addon">NTD</span>
                </div>
              </div>
            </div>
            <div class="form-group" [ngClass]="{'invalid': brief.invalid&&form.submitted}">
              <label for="brief">{{ '計畫.簡介' | translate }}</label>
              <input type="text" id="brief" name="brief"
                [(ngModel)]="project.brief" #brief="ngModel" required>
            </div>
            <div class="form-group" [ngClass]="{'invalid': img==undefined&&form.submitted}">
                <label for="cover">{{ '計畫.封面照片' | translate }}</label>
                <input type="file" (change)="readURL($event)" accept="image/gif, image/jpeg, image/png"
                  enctype="multipart/form-data" required>
                <img *ngIf="img!=undefined" [src]="img" style="width:50%; height:50%; overflow:scroll">
            </div>
            <div class="s_order form-group" [ngClass]="{'invalid': dsp.invalid&&form.submitted}">
              <label for="br">{{ '計畫.說明' | translate }}</label>
              <textarea id="description" cols="30" rows="10"
                name="description" [(ngModel)]="project.description" #dsp="ngModel" required></textarea>
            </div>
            <div class="line"></div>

            <ng-container *ngFor="let f of project.feedbacks; let i=index">
              <div class="form-group">
                <div class="form-control-left" [ngClass]="{'invalid': f_price.invalid&&(f_price.dirty||form.submitted)}">
                  <label for="f_price" [translate]="'計畫.回饋金額'" [translateParams]="{ value: i+1 }"> *</label>
                  <div class="input-group">
                    <input type="text" id="f_price" placeholder="87" name="f_price+{{ i }}" #f_price="ngModel"
                      maxlength="20" [(ngModel)]="f.price" pattern="\d{1,20}" required>
                    <span class="input-group-addon">NTD</span>
                  </div>
                </div>
                <div class="form-control-right" [ngClass]="{'invalid': f_date.invalid&&form.submitted}">
                  <label for="f_date" [translate]="'計畫.回饋時間'" [translateParams]="{ value: i+1 }"> *</label>
                  <input type="date" id="f_date" name="f_date+{{ i }}" min="{{ nowDate | date:'yyyy-MM-dd' }}"
                    [(ngModel)]="f.date" #f_date="ngModel" required>
                </div>
              </div>
              <div class="s_order form-group" [ngClass]="{'invalid': f_dsp.invalid&&form.submitted}">
                <label for="f_description" [translate]="'計畫.回饋說明'" [translateParams]="{ value: i+1 }"> *</label>
                <textarea type="text" id="f_description" cols="30" rows="10"
                  name="f_description+{{ i }}" [(ngModel)]="f.description" #f_dsp="ngModel" required></textarea>
              </div>
            </ng-container>

            <div class="form-group">
                <input type="button" value="{{ '計畫.新增選項' | translate }}" (click)="addFeedback()">
            </div>

            <div class="form-group" [ngClass]="{'invalid': web.invalid&&form.submitted}">
              <label for="r_web">{{ '計畫.相關網頁' | translate }}</label>
              <input type="text" id="r_web" name="r_web"
                [(ngModel)]="project.relative_web" #web="ngModel" required>
            </div>
            <div class="form-check">
              <label>
                <input type="checkbox" ngModel name="check" #check="ngModel" required>
                {{ '計畫.同意' | translate }}
              </label>
              <p class="uncheck" *ngIf="form.submitted && check.invalid">
                {{ '計畫.不同意' | translate }}</p>
            </div>
            <div class="submit_btn form-group">
              <input type="submit" value="{{ '計畫.提交' | translate }}">
              <a class="btn btn-link" [routerLink]="['/']">{{ '計畫.取消' | translate }}</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</section>
