<div *ngIf="currLang=='zh-tw'; else elseTag" class="container">
  <div>
    <br>
    <h2 class="question_title">常見問答
    </h2>
  </div>
  <br>
  <div class="qa_proposal_section">
    <h3 class="qa_proposal_title">發起計畫</h3>
      <div class="qa_section" >
        <br>
        <h5 class="qa_proposal">◆&nbsp;提案人有身分限制嗎?</h5>
          <div  class="answer_section">要在口責木不上發起計畫，您必須為
            <strong>台灣居民</strong>並且擁有
            <strong>台灣的銀行帳戶</strong>
            <br>
          </div>
        <br>
      </div>
    <br>
    <div class="qa_section"  >
      <br>
      <h5 class="qa_proposal">◆&nbsp;集資的時間有限制嗎？</h5>
        <div  class="answer_section">建議計畫在 35-45 天左右。計畫時間太長對於達標少有幫助，
          贊助人也會因此看不到您需要資金的急迫性。集資期限並不包括計畫執行時間。
          計畫執行時間並沒有限制。
        </div>
        <br>
    </div>
    <br>
    <div class="qa_section" >
      <br>
      <h5 class="qa_proposal">◆&nbsp;集資目標有限制嗎？</h5>
        <div  class="answer_section">金額沒有限制。但口責上的計畫只要沒有達到目標，
          收到的贊助金額會全數退回給支持者。
        </div>
        <br>
    </div>
    <br>
    <div class="qa_section" >
      <br>
      <h5 class="qa_proposal">◆&nbsp;發起計畫需要付錢嗎？</h5>
        <div  class="answer_section">口責收取計畫成功後金額的 <strong>8%</strong>，
          其中包含金流服務和口責收取的手續費以及口責網站的維護費用。
          我們收取小額的網站維護費用是為確保口責能夠長久經營，幫助更多的創作人。
        </div>
        <br>
    </div>
    <br>
    <div class="qa_section" >
      <br>
      <h5 class="qa_proposal">◆&nbsp;我發起的計畫集資成功了，什麼時候才能拿到贊助的款項呢？</h5>
        <div  class="answer_section">計畫成功結束後，口責將扣除交付款項所需之手續費後，
          於<strong>次月十三日前</strong>將剩餘之代收款項給付給提案人。
        </div>
        <br>
    </div>
    <br>
    <div class="qa_section" >
      <br>
      <h5 class="qa_proposal">◆&nbsp;我發起的計畫集資成功了，我該怎麼聯絡贊助人？</h5>
        <div  class="answer_section">計畫成功結束後，提案人的可以在計畫頁面工具箱中找到
          「贊助人列表」，其中包含所有贊助人的聯絡資料和贊助細節。
        </div>
        <br>
    </div>
    <br>
    <div class="qa_section" >
      <br>
      <h5 class="qa_proposal">◆&nbsp;口責上的計畫屬於公益勸募的範圍嗎？</h5>
        <div  class="answer_section">提案人如欲進行公益集資計劃，建議先向主管機關或專業人士
          咨詢相關規範，並採取相應措施。另外，口責建議群眾集資計畫應提供回
          饋給贊助人。若您的計畫無法提供回饋，就失去了群眾集資「你支持、
          我回饋」的互益精神。
        </div>
        <br>
    </div>
    <br>
    <div class="qa_section" >
      <br>
      <h5 class="qa_proposal">◆&nbsp;在口責上面發起計畫有哪些好處？</h5>
        <div  class="answer_section">口責專注於鼓勵、幫助台灣的創意人做自己想做的事情。
          在口責上提案除了會在口責網站、口責 facebook 頁面曝光以外，
          還有機會登上與我們合作的其他社群媒體平台。口責一直以來專注於設計
          、藝術、創意類的計畫，已經聚集了一個相當熱情的藝術設計愛好者社群。
          口責團隊成員各個來自產品設計、網頁設計、都市設計、時裝設計、音樂等等的背景，
          將會盡力提供專業意見幫助提案人實現夢想。
        </div>
        <br>
    </div>
    <br>
    <div class="qa_section" >
      <br>
      <h5 class="qa_proposal">◆&nbsp;在網站上提案以後會發生什麼事情？</h5>
        <div  class="answer_section">你將會收到一封口責的確認收到計畫的信件，
          這時候你的計畫會在<strong>待審核</strong>的狀態。同時間你可以慢慢將全部內容
          完成，增加回饋選項等等。口責專案部同仁完成審核步驟後，
          如有通過審核，我們會寄送通知信至您註冊會員時所使用的信箱。
          一切準備成功後，必須聯絡專案團隊，確認計畫內容完成，
          計畫才會公開在網站上。
        </div>
        <br>
    </div>
    <br>
    <div class="qa_section" >
      <br>
      <h5 class="qa_proposal">◆&nbsp;我想要提案，但是我的內容還沒有準備好，可以先和你們討論嗎？</h5>
        <div  class="answer_section">在口責上提案後至正式上線前，
          你都可以繼續修改計畫內容，所以不用擔心資料還沒準備完善就
          提案，之後有的是時間修改！但請注意還是必須提供足夠的計畫
          內容以供口責專案部評估。
        </div>
        <br>
    </div>
    <br>
    <div class="qa_section" >
      <br>
      <h5 class="qa_proposal">◆&nbsp;為什麼計畫要經過審核？</h5>
        <div  class="answer_section">口責一直以來都有獨特的計畫類別和族群，
          這是因為我們竭力想要培養的一個<strong>愛好藝術設計文化的社群。</strong>
        </div>
        <br>
    </div>
    <br>
  </div>
  <div class="qa_sponsor_section">
      <h3 class="qa_sponsor_title">贊助計畫</h3>
      <div class="qa_section" >
        <br>
        <h5 class="qa_sponsor">◆&nbsp;我人不在台灣/不是台灣人可以支持計畫嗎？</h5>
          <div  class="answer_section">可以，但是不是所有計畫都會運送到台灣以外的地區。
            建議您在贊助計畫前使用計畫頁面上的聯絡提案人功能來和提案者確認。
          </div>
          <br>
      </div>
      <br>
      <div class="qa_section" >
      <br>
      <h5 class="qa_sponsor">◆&nbsp;贊助計畫以後什麼時候才會收到回饋？</h5>
        <div  class="answer_section">每一個計畫回饋的選項不一樣，在回饋選項說明下方都會標示預計送出日期，
          但因為選項的預計送出日期都是估計，所以不一定會準確。請密切注意提案人的更新、
          動態來確定時間。如果有疑惑請使用計畫頁面上的聯絡提案人功能來和提案者確認。
        </div>
        <br>
      </div>
      <br>
      <div class="qa_section" >
      <br>
      <h5 class="qa_sponsor">◆&nbsp;我支持的計畫沒有成功/失敗了的話，我贊助的錢跑去哪裡？</h5>
        <div  class="answer_section">如果計畫期限到了仍然沒有達到目標，口責會透過您贊助時的原付款方式退還你所支持的金額
          （不包含虛擬帳號轉帳交易手續費）。您將會收到金流公司所寄出的退款信件，
          請根據信中的指示完成退款步驟。
        </div>
        <br>
      </div>
      <br>
      <div class="qa_section" >
      <br>
      <h5 class="qa_sponsor">◆&nbsp;我想取消贊助或退款，該怎麼做？</h5>
        <div  class="answer_section">如果您所支持的計畫仍在計劃集資期間尚未結束，
          您可以與口責客服聯絡，我們會透過您贊助時的原付款方式退還你所支持的金額
          （不包含虛擬帳號轉帳交易手續費）。如果該計劃已經集資結束，
          您則需要與提案人聯絡。
        </div>
        <br>
      </div>
      <br>
      <div class="qa_section" >
      <br>
      <h5 class="qa_sponsor">◆&nbsp;我想要贊助計畫，可以透過哪些方式呢？</h5>
        <div  class="answer_section">口責目前有提供國內外信用卡刷卡以及實體 ATM 付款。
          礙於若計畫失敗可能需要退款的狀況，口責暫時不提供超商繳費的功能。
        </div>
        <br>
      </div>
      <br>
      <div class="qa_section" >
      <br>
      <h5 class="qa_sponsor">◆&nbsp;我還沒有收到贊助回饋，怎麼辦？</h5>
        <div  class="answer_section">在計畫成功以後，計畫進行的資訊將會由提案人提供，
          口責部分將不會干涉。如果有疑問可以到計畫頁面查看提案人是否有在提案頁
          面做出計畫更新，或使用計畫頁面上的聯絡提案人功能來和提案者確認。也建議
          直接到提案計畫粉絲專頁、網站等等，向提案者詢問。如果仍然沒得到回應，
          歡迎聯絡口責並留下聯絡方式，我們將會要求提案人主動聯絡您。
        </div>
        <br>
      </div>
      <br>
      <div class="qa_section" >
      <br>
      <h5 class="qa_sponsor">◆&nbsp;贊助計畫會有收據嗎？</h5>
        <div  class="answer_section">贊助口責的計畫後，您會收到由口責合作的金流公司 Paynow
          所寄出的 Email 收款證明，此證明並非電子發票。贊助回饋的發票或收據，
          在計畫成功達標結束後，將由計畫提案人負責處理。
        </div>
        <br>
      </div>
      <br>
      <div class="qa_section" >
      <br>
      <h5 class="qa_sponsor">◆&nbsp;我使用實體 ATM 轉帳了，為什麼遲遲沒有收到贊助成功確認信件？</h5>
        <div  class="answer_section">若在 24 小時後仍未收到確認信件，也確認金額有離開您的銀行帳戶，
          請聯絡口責，並提供您的訂單編號。
        </div>
        <br>
      </div>
      <br>
  </div>
</div>

<ng-template #elseTag>
<div class="container">
      <div>
        <br>
        <h2 class="question_title">Frequently Asked Questions
        </h2>
      </div>
      <br>
      <div class="qa_proposal_section">
        <h3 class="qa_proposal_title">Initiate a project</h3>
          <div class="qa_section" >
            <br>
            <h5 class="qa_proposal">◆&nbsp; Does the sponsor have an identity restriction?</h5>
              <div class="answer_section">To start a project on the blame, you must <strong>Taiwan residents</strong> and own <strong>Taiwan’s bank account</strong>
                <br>
              </div>
            <br>
          </div>
        <br>
        <div class="qa_section" >
          <br>
          <h5 class="qa_proposal">◆&nbsp; Is there a time limit for fundraising? </h5>
            <div class="answer_section">The recommended program is around 35-45 days. Planning for too long a time is less helpful for reaching the standard. Sponsors will therefore not see the urgency of your need for funds. The fundraising period does not include the execution time of the plan. There is no limit to the execution time of the project.
            </div>
            <br>
        </div>
        <br>
        <div class="qa_section" >
          <br>
          <h5 class="qa_proposal">◆&nbsp; Is there a limit to the fundraising goal? </h5>
            <div class="answer_section">There is no limit on the amount. But as long as the project on the blame does not reach the goal, The amount of sponsorship received will be returned to the supporters in full.
            </div>
            <br>
        </div>
        <br>
        <div class="qa_section" >
          <br>
          <h5 class="qa_proposal">◆&nbsp;Do you have to pay for the project? </h5>
            <div class="answer_section"><strong>8%</strong> for the amount of the charge after the project is successfully charged. It includes the handling fee for the Golden Stream service and the accountability charge, as well as the maintenance fee for the accountability website. We charge a small amount of website maintenance fees to ensure that the responsibilities are long-term and help more creators.
            </div>
            <br>
        </div>
        <br>
        <div class="qa_section" >
          <br>
          <h5 class="qa_proposal">◆&nbsp; The project fundraising I initiated was successful. When will I get the sponsorship? </h5>
            <div class="answer_section">After the successful completion of the project, the accountability will be deducted from the handling fee required for the delivery. The remaining collections will be paid to the proposer before <strong>the 13th of the next month</strong>.
            </div>
            <br>
        </div>
        <br>
        <div class="qa_section" >
          <br>
          <h5 class="qa_proposal">◆&nbsp;My fundraising plan was successful, how can I contact the sponsor? </h5>
            <div class="answer_section">After the project is successfully completed, the sponsor’s can be found in the Project Pages toolbox. "Sponsor List", which contains contact information and sponsorship details for all sponsors.
            </div>
            <br>
        </div>
        <br>
        <div class="qa_section" >
          <br>
          <h5 class="qa_proposal">◆&nbsp;Is the project on the responsibility of the public to be covered by public welfare? </h5>
            <div class="answer_section">If the sponsor wants to raise a charity fundraising plan, it is recommended to first go to the competent authority or professional Consult relevant specifications and take corresponding measures. In addition, the blame suggests that the crowdfunding plan should be provided back. Feed to the sponsor. If your plan can't provide feedback, you will lose the crowd raising. "You support, I give back the spirit of mutual benefit.
            </div>
            <br>
        </div>
        <br>
        <div class="qa_section" >
          <br>
          <h5 class="qa_proposal">◆&nbsp;What are the benefits of starting a project on accountability? </h5>
            <div class="answer_section">The responsibility is to encourage and help creative people in Taiwan to do what they want. In addition to the exposure on the account of the website and the Facebook page, There is also the opportunity to board other social media platforms that work with us. Responsibility has always focused on design The art, creative projects have gathered a very enthusiastic community of art and design enthusiasts. Responsible team members from the background of product design, web design, urban design, fashion design, music, etc. Every effort will be made to provide professional advice to help the sponsor realize his dreams.
            </div>
            <br>
        </div>
        <br>
        <div class="qa_section" >
          <br>
          <h5 class="qa_proposal">◆&nbsp;What happens after the proposal on the site? </h5>
            <div class="answer_section">You will receive a letter confirming receipt of the project. At this time your project will be in the state of <strong>pending review</strong>. At the same time, you can slowly put all the content Finish, add feedback options and more. After the completion of the review steps by the colleagues in the project department, If approved, we will send a notification letter to the mailbox you used to register your membership. After everything is ready, you must contact the project team to confirm that the project is complete. The plan will be made public on the website.
            </div>
            <br>
        </div>
        <br>
    <div class="qa_section" >
              <br>
              <h5 class="qa_proposal">◆&nbsp;I want a proposal, but my content is not ready yet, can you discuss it with you first? </h5>
                <div class="answer_section">After the proposal on the account, before the official launch, You can continue to modify the project content, so don't worry if the data is not ready yet. Proposal, after that, there is time to modify! But please note that you still have to provide enough plans. The content is evaluated by the Ministry of Projects.
                </div>
                <br>
            </div>
            <br>
            <div class="qa_section" >
              <br>
              <h5 class="qa_proposal">◆&nbsp;Why is the project subject to review? </h5>
                <div class="answer_section">The blame has always had unique program categories and ethnic groups. This is because we are trying to cultivate a community of <strong>Artistic design cultures. </strong>
                </div>
                <br>
            </div>
            <br>
          </div>
          <div class="qa_sponsor_section">
              <h3 class="qa_sponsor_title">Sponsorship Program</h3>
              <div class="qa_section" >
                <br>
                <h5 class="qa_sponsor">◆&nbsp;I am not in Taiwan/is Taiwanese able to support the project? </h5>
                  <div class="answer_section">Yes, but not all plans are shipped outside of Taiwan. It is recommended that you use the contact proposer feature on the plan page to confirm with the sponsor before using the sponsorship plan.
                  </div>
                  <br>
              </div>
              <br>
              <div class="qa_section" >
              <br>
              <h5 class="qa_sponsor">◆&nbsp;When will the sponsorship report receive feedback? </h5>
                <div class="answer_section">The options for each project feedback are different, and the expected delivery date is indicated below the feedback option description. However, because the expected delivery date of the option is an estimate, it may not be accurate. Please pay close attention to the sponsor’s updates, Dynamic to determine the time. If you have any doubts, please use the Contact Proposer function on the Programs page to confirm with the sponsor.
                </div>
                <br>
              </div>
              <br>
              <div class="qa_section" >
              <br>
              <h5 class="qa_sponsor">◆&nbsp;If the plan I support does not succeed/fail, where does the money I sponsored go? </h5>
                <div class="answer_section">If the project deadline has not yet reached the target, the accountability will refund the amount you supported through the original payment method at the time of sponsorship. (Does not include virtual account transfer transaction fee). You will receive a refund letter from Golden Stream. Please follow the instructions in the letter to complete the refund step.
                </div>
                <br>
              </div>
              <br>
              <div class="qa_section" >
              <br>
              <h5 class="qa_sponsor">◆&nbsp;I want to cancel sponsorship or refund, what should I do? </h5>
                <div class="answer_section">If the program you support is still not in the process of funding, You can contact the customer service department, we will refund the amount you support through the original payment method when you sponsored. (Does not include virtual account transfer transaction fee). If the plan has already been funded, You will need to contact the sponsor.
                </div>
                <br>
              </div>
              <br>
              <div class="qa_section" >
              <br>
              <h5 class="qa_sponsor">◆&nbsp;How do I want to sponsor a project? </h5>
                <div class="answer_section">There is currently a domestic and international credit card and physical ATM payment. In the event that a refund may be required if the plan fails, the accountability does not provide the function of overcharging.
                </div>
                <br>
              </div>
              <br>
              <div class="qa_section" >
              <br>
              <h5 class="qa_sponsor">◆&nbsp; I haven’t received sponsorship feedback yet, what should I do? </h5>
                <div class="answer_section">After the project is successful, the information for the project will be provided by the sponsor. The blame will not interfere. If in doubt, you can go to the project page to see if the sponsor is on the proposal page. Make a plan update, or use the contact proposer feature on the plan page to confirm with the sponsor. Also recommended Ask the sponsor directly to the proposal plan fan page, website, etc. If you still don't get a response, You are welcome to contact us and leave your contact information. We will ask the sponsor to contact you.
                </div>
                <br>
              </div>
              <br>
              <div class="qa_section" >
              <br>
              <h5 class="qa_sponsor">◆&nbsp; Does the sponsorship plan have a receipt? </h5>
                <div class="answer_section">After sponsoring the project, you will receive Paynow, the company that is responsible for the cooperation. The email receipt certificate sent, this certificate is not an electronic invoice. Invoice or receipt for sponsorship feedback, After the project has successfully reached the target, it will be handled by the plan sponsor.
                </div>
                <br>
              </div>
              <br>
              <div class="qa_section" >
              <br>
              <h5 class="qa_sponsor">◆&nbsp; I transferred using physical ATM, why haven’t I received a sponsorship confirmation letter? </h5>
                <div class="answer_section">If you haven’t received your confirmation letter after 24 hours, please confirm that the amount has left your bank account. Please contact your account and provide your order number.
                </div>
                <br>
              </div>
              <br>
          </div>
        </div>
</ng-template>
