.qa_section{
  background-color: 	#f0f0f0;
  margin-right: 1em;
}
.qu_section:hover .qu_section{
  border-style:solid;
  border-color: black;
  background-color: 	#f0f0f0;
  margin-right: 1em;
}
.answer_section{
  margin-left : 25px;
  margin-right: 25px;
}
.qa_proposal{
  margin-left : 15px;
}
.qa_sponsor{
  margin-left : 15px;
}
