<section class="checkout_area">
  <div class="container">
    <div class="row">
      <div class="checkout_left">

        <h2>修改提案</h2>
        <span class="dotted_line"></span>

        <form class="checkout_form" (ngSubmit)="onSubmit(form)" #form="ngForm">
          <div class="product_name">
            <label for="founder">發起人 *</label>
            <input type="text" id="founder" placeholder="請輸入名稱" name="founder" [(ngModel)]="founder">
          </div>
          <div class="product_name">
            <label for="email">電子信箱 *</label>
            <input type="text" id="email" placeholder="請輸入信箱" name="name" [(ngModel)]="email">
          </div>
          <div class="product_name">
            <label for="start_date">預計開始時間 *</label>
            <input type="text" id="start_date" placeholder="" name="start_date">

          </div>
          <div class="product_name">
            <label for="end_date">預計結束時間 *</label>
            <input type="text" id="end_date" placeholder="請輸入名稱" name="end_date" [(ngModel)]="name">
          </div>
          <div class="product_name">
            <label for="name">計畫名稱 *</label>
            <input type="text" id="name" placeholder="請輸入名稱" name="name" [(ngModel)]="name">
          </div>
          <div class="price_box">
            <label for="price">計畫目標 *</label>
            <input type="text" id="price" placeholder="請輸入價格" name="price" [(ngModel)]="targetPrice">
          </div>
          <div class="product_name">
            <label for="brief">計畫簡介 *</label>
            <input type="text" id="brief" placeholder="請輸入名稱" name="brief" [(ngModel)]="brief">
          </div>
          <div class="price_box">
            <label for="cover">封面照片 *</label>
            <input type="file" id="cover">
          </div>
          <div class="s_order">
            <label for="br">計畫說明 *</label>
            <textarea id="description" cols="30" rows="10" placeholder="請輸入敘述" name="description" [(ngModel)]="description"></textarea>
          </div>

          <div class="product_name">
            <label for="f_price">回饋選項金額 *</label>
            <input type="text" id="f_price" placeholder="請輸入名稱" name="f_price" [(ngModel)]="feedbackPirce">
          </div>
          <div class="product_name">
            <label for="f_description">回饋選項詳細說明 *</label>
            <input type="text" id="f_description" placeholder="請輸入名稱" name="f_description" [(ngModel)]="feedbackDescription">
          </div>
          <div class="product_name">
            <label for="f_date">回饋預計實現時間 *</label>
            <input type="text" id="f_date" placeholder="請輸入名稱" name="f_date" [(ngModel)]="feedbackDate">
          </div>
          <div class="product_name">
            <label for="r_web">相關網頁 *</label>
            <input type="text" id="r_web" placeholder="請輸入名稱" name="r_web" [(ngModel)]="relativeWeb">
          </div>
          <div class="submit_btn form-group submitRow">
            <input type="submit" value="Submit" [disabled]="!form.valid">
            <!-- TODO: 設定router-->
            <a class="btn btn-link" href="#">取消</a>
          </div>
        </form>

      </div>
    </div>
  </div>

</section>
