<footer class="entire_footer_area">
  <div class="footer_top_area">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-6 col-xs-12">
          <div class="footer_top_left">
            <!-- TODO:取得訂閱email並處理 -->
            <a href=""><i class="fa fa-envelope"></i>訂閱我們</a>
            <input type="text" placeholder="你的Email" />
            <input type="submit" value="submit" />
          </div>
        </div>
        <!--<div class="col-md-5 col-sm-6 col-xs-12">
          <div class="footer_top_right">
            <ul id="payment">
              <li><a href="">
                  <img src="assets/images/pay1.png" alt="" />
                </a></li>
              <li><a href="">
                  <img src="assets/images/pay2.png" alt="" />
                </a></li>
              <li><a href="">
                  <img src="assets/images/pay3.png" alt="" />
                </a></li>
              <li><a href="">
                  <img src="assets/images/pay4.png" alt="" />
                </a></li>
              <li><a href="">
                  <img src="images/pay5.png" alt="" />
                </a></li>
            </ul>
          </div>
        </div>-->
      </div>
    </div>
  </div>
  <div class="footer_area">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="single_widget">
            <h5>探索</h5>
            <div class="wid_line"></div>
            <ul class="widget_nav">
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">所有提案</a></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">最後衝刺</a></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">最新啟動</a></li>
              <!--<li><a href="">Manufactures</a></li>
              <li><a href="">Suppliers</a></li>
              <li><a href="">Our Stores</a></li>-->
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="single_widget">
            <h5>會員中心</h5>
            <div class="wid_line"></div>
            <ul class="widget_nav">
              <li><a [routerLink]="['/checkout']" routerLinkActive="router-link-active">帳單地址</a></li>
              <li><a [routerLink]="['/profile']" routerLinkActive="router-link-active">我的帳戶</a></li>
              <li><a [routerLink]="['/profile']" routerLinkActive="router-link-active">個人資料</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="single_widget">
            <h5>客戶服務</h5>
            <div class="wid_line"></div>
            <ul class="widget_nav">
              <li><a [routerLink]="['/qa']" routerLinkActive="router-link-active">常見問答</a></li>
              <!-- TODO:設定路由 -->
              <li><a [routerLink]="['/termsOfUse']" routerLinkActive="router-link-active">使用條款</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="single_widget">
            <h5>關於我們</h5>
            <div class="wid_line"></div>
            <address>
              地址 : 台灣, 台北市大安區基隆路四段43號<br>
              電話 : (02) 2733 3141<br>
              Email : FullStack@mail.nutst.edu.tw
            </address>
            <ul class="wid_social">
              <li><a class="fa fa-facebook" href="https://www.facebook.com/groups/ntusttalktalk2/"></a></li>
              <li><a class="fa fa-google-plus" href="https://www.ntust.edu.tw"></a></li>
              <!--<li><a class="fa fa-twitter" href=""></a></li>
              <li><a class="" href="fa fa-pinterest"></a></li>
              <li><a class="fa fa-pinterest" href=""></a></li>
              <li><a class="fa fa-rss" href=""></a></li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom_area">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="footer_bottom">
            <p>著作權 &copy; 2018 <a [routerLink]="['/']" routerLinkActive="router-link-active">口責口責木不</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
