<footer class="entire_footer_area">
  <div class="footer_top_area">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-6 col-xs-12">
          <div class="footer_top_left">
            <!-- TODO:取得訂閱email並處理 -->
            <i class="fa fa-envelope"></i>&nbsp;{{ '訂閱我們' | translate }}
            <input type="text" name="email" placeholder="{{ 'your email' | translate }}" [(ngModel)]="data.email" />
            <input type="submit" value="{{ 'submit' | translate }}" (click)="makeSubscription()" />
            <input type="submit" value="{{ 'cancel' | translate }}" (click)="cancelSubscription()" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_area">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="single_widget">
            <h5>{{ '還想贊助' | translate }}</h5>
            <div class="wid_line"></div>
            <ul class="widget_nav">
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">{{ '首頁' | translate }}</a></li>
              <li><a [routerLink]="['/create']" routerLinkActive="router-link-active">{{ '提案' | translate }}</a></li>
              <li><a [routerLink]="['/projects']" routerLinkActive="router-link-active">{{ '探索' | translate }}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="single_widget">
            <h5>{{ '會員中心' | translate }}</h5>
            <div class="wid_line"></div>
            <ul class="widget_nav">
              <li><a [routerLink]="['/profile']" routerLinkActive="router-link-active">{{ '個人資料' | translate }}</a></li>
              <li><a [routerLink]="['/checkout']" routerLinkActive="router-link-active">{{ '我的帳戶' | translate }}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="single_widget">
            <h5>{{ '客戶服務' | translate }}</h5>
            <div class="wid_line"></div>
            <ul class="widget_nav">
              <li><a [routerLink]="['/qa']" routerLinkActive="router-link-active">{{ '常見問答' | translate }}</a></li>
              <!-- TODO:設定路由 -->
              <li><a [routerLink]="['/termsOfUse']" routerLinkActive="router-link-active">{{ '使用條款' | translate }}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="single_widget">
            <h5>{{ '關於我們' | translate }}</h5>
            <div class="wid_line"></div>
            <address>
              {{ '地址' | translate }} : {{ '台灣, 台北市大安區基隆路四段43號' | translate }}<br>
              {{ '電話' | translate }} : (02) 2733 3141<br>
              {{ 'Email' | translate }} : FullStack@mail.nutst.edu.tw
            </address>
            <ul class="wid_social">
              <li><a class="fa fa-facebook" href="https://www.facebook.com/groups/ntusttalktalk2/"></a></li>
              <li><a class="fa fa-google-plus" href="https://www.ntust.edu.tw"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom_area">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="footer_bottom">
            <p>{{ '著作權' | translate }} &copy; 2018 <a [routerLink]="['/']" routerLinkActive="router-link-active">口責口責木不</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
