<section class="p_area">
  <div class="content">

    <div class="row">
      <div class="col-md-offset-2 col-sm-offset-2 col-md-8 col-sm-8 col-xs-12">
        <h2 class="t_center">{{ '計畫.修改提案' | translate }}</h2>

        <div class="p_form">
          <form (ngSubmit)="form.form.valid&&onSubmit(form)" #form="ngForm">
            <div class="form-group" [ngClass]="{'invalid': founder.invalid&&form.submitted}">
              <label for="founder">{{ '計畫.提案人' | translate }} *</label>
              <input type="text" id="founder" placeholder="{{ '請輸入姓名' | translate }}" name="founder"
                maxlength="20" [(ngModel)]="model.founder" #founder="ngModel" required disabled>
            </div>
            <div class="form-group" [ngClass]="{'invalid': email.invalid&&(email.dirty||form.submitted)}">
              <label for="email">{{ '信箱' | translate }} *</label>
              <input type="email" id="email" placeholder="{{ '請輸入信箱' | translate }}" name="email"
                maxlength="60" [(ngModel)]="model.email" #email="ngModel" email required>
            </div>
            <div class="form-group">
              <div class="form-control-left" [ngClass]="{'invalid': startAt.invalid&&form.submitted}">
                <label for="start_date">{{ '計畫.開始' | translate }}</label>
                <input type="date" id="start_date" name="start_date" [(ngModel)]="model.startAt"
                  #startAt="ngModel" required disabled>
              </div>
              <div class="form-control-right" [ngClass]="{'invalid': endAt.invalid&&form.submitted}">
                <label for="end_date">{{ '計畫.結束' | translate }}</label>
                <input type="date" id="end_date" name="end_date" [(ngModel)]="model.endAt" #endAt="ngModel"
                  required disabled>
              </div>
            </div>
            <div class="form-group">
              <label for="category"> {{ '分類' | translate }}</label>
              <select id="category" name="category" [(ngModel)]="model.category" required>
                <option *ngFor="let c of category">
                  {{ c | translate }}
                </option>
              </select>
            </div>
            <div class="form-group" [ngClass]="{'invalid': name.invalid&&form.submitted}">
              <label for="name">{{ '計畫.名稱' | translate }} *</label>
              <input type="text" id="name" placeholder="{{ '請輸入名稱' | translate }}" name="name"
                [(ngModel)]="model.name" #name="ngModel" required disabled>
            </div>
            <div class="form-group">
              <div class="form-control-left">
                <label for="price">{{ '計畫.目標' | translate }} *</label>
                <div class="input-group" [ngClass]="{'invalid': price.invalid&&(price.dirty||form.submitted)}">
                  <input type="text" id="price" placeholder="8787" name="price" [(ngModel)]="model.targetPrice"
                    maxlength="20" #price="ngModel" pattern="\d{1,20}" required disabled>
                  <span class="input-group-addon">NTD</span>
                </div>
              </div>
            </div>
            <div class="form-group" [ngClass]="{'invalid': brief.invalid&&form.submitted}">
              <label for="brief">{{ '計畫.簡介' | translate }} *</label>
              <input type="text" id="brief" placeholder="{{ '請輸入簡介' | translate }}" name="brief"
                [(ngModel)]="model.brief" #brief="ngModel" required>
            </div>
            <div class="form-group" [ngClass]="{'invalid': img.invalid&&form.submitted}">
              <label for="cover">{{ '計畫.封面照片' | translate }} *</label>
              <input type="file" id="cover" name="file" [(ngModel)]="model.img" #img="ngModel"
                required>
            </div>
            <div class="s_order form-group" [ngClass]="{'invalid': dsp.invalid&&form.submitted}">
              <label for="br">{{ '計畫.說明' | translate }} *</label>
              <textarea id="description" cols="30" rows="10" placeholder="{{ '請輸入說明' | translate }}"
                name="description" [(ngModel)]="model.description" #dsp="ngModel" required></textarea>
            </div>
            <div class="line"></div>
            <div class="form-group">
              <div class="form-control-left" [ngClass]="{'invalid': f_price.invalid&&(f_price.dirty||form.submitted)}">
                <label for="f_price">{{ '計畫.回饋金額' | translate }} *</label>
                <div class="input-group">
                  <input type="text" id="f_price" placeholder="87" name="f_price" #f_price="ngModel"
                    maxlength="20" [(ngModel)]="model.feedbackPirce" pattern="\d{1,20}" required
                    disabled>
                  <span class="input-group-addon">NTD</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-control-left" [ngClass]="{'invalid': f_date.invalid&&form.submitted}">
                <label for="f_date">{{ '計畫.回饋時間' | translate }} *</label>
                <input type="date" id="f_date" name="f_date" [(ngModel)]="model.feedbackAt" #f_date="ngModel"
                  required disabled>
              </div>
            </div>
            <div class="s_order form-group" [ngClass]="{'invalid': f_dsp.invalid&&form.submitted}">
              <label for="f_description">{{ '計畫.回饋說明' | translate }} *</label>
              <textarea type="text" id="f_description" cols="30" rows="10" placeholder="{{ '請輸入說明' | translate }}"
                name="f_description" [(ngModel)]="model.feedbackDescription" #f_dsp="ngModel"
                required></textarea>
            </div>
            <div class="form-group" [ngClass]="{'invalid': web.invalid&&form.submitted}">
              <label for="r_web">{{ '計畫.相關網頁' | translate }}</label>
              <input type="text" id="r_web" placeholder="{{ '請輸入相關網頁' | translate }}" name="r_web"
                [(ngModel)]="model.relativeWeb" #web="ngModel" required>
            </div>

            <div class="submit_btn form-group">
              <input type="submit" value="{{ '計畫.修改' | translate }}">
              <a class="btn btn-link" [routerLink]="['/']">{{ '計畫.取消' | translate }}</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</section>
