<div style="height: 600px; padding-top: 10%">
  <div class="content">

    <div class="item">
      <p>{{'忘記密碼了嗎' | translate}}?</p>
      <p>{{'請輸入你註冊會員的電子信箱' | translate}}</p>
      <p>{{'密碼重設信件將寄至您的電子信箱。
        請點選信件中網址重新設定密碼。' | translate}}</p>

    </div>

    <div class="item">
        <input type="text" placeholder=" E-mail" [(ngModel)]="email" name="userMail">
        <input class="button" type="submit" value="重設密碼" [routerLink]="['/']" routerLinkActive="active" />
    </div>

  </div>

  <hr class="style-five" />

  <div class="content">
    <button class="footButton" [routerLink]="['/','login']" routerLinkActive="active">{{'登入' | translate}}</button>
    <button class="footButton" [routerLink]="['/','register']" routerLinkActive="active">{{'註冊' | translate}}</button>
  </div>
</div>
