.fullscreen-container {
  width: 100%;
  position: relative;
  padding: 0;
}

.fullwidthbanner-container {
  width: 100%;
  position: relative;
  padding: 0;
  overflow: hidden;
}

.fullwidthbanner-container .fullwidthbanner {

  width: 100%;
  position: relative;
}

.p_box {
  margin-top: 0%;
  height: 500px;
}

.p_name {
  margin-top: 3%;
  font-size: 25px;
  font-weight: bold;
}

.p_founder {
  margin-top: 3%;
  font-size: 18px;
}

.p_dsp {
  margin-top: 4%;
  font-size: 15px;
  word-break: break-all;
  margin-bottom: 10%;
  height: 80px;
  overflow: hidden;
}

.p_title {
  text-align: center;
  font-size: 30;
  font-weight: bold;
  margin-top: 3%;
}
